@import "tailwindcss";
/* 

:root {
  --bg-primary: rgb(255, 146, 44);
  --bg-secondary: #1a1a1a;
  --text-color: white;
}


body {
  background: var(--bg-primary);
  color: var(--text-color);
}

.bg-secondary {
  background-color: var(--bg-secondary);
} */